@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("heading.css");
@import url("aboutMe.css");
@import url("techstack.css");
@import url("contactInfo.css");
@import url("projects.css");
@import url("footer.css");

:root {
    font-family: 'League Spartan', sans-serif;
    --first-color: #FFFFFF;
    --second-color: #000000;
    --third-color: #29f0fa;
    --standard-width: 80%;
    --standard-padding: 10%;

    --animate-duration: 900ms;
    --animate-delay: 0.9s;
}

@media screen and (max-width: 768px) {
    :root {
        --standard-width: 90%;
        --standard-padding: 5%;    
    }    
}

.container {
    min-width: 99vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}