.heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem var(--standard-padding) 2rem var(--standard-padding);
    background-color: var(--second-color);
    background-image: url("/background.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--first-color);
}

.heading__title {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 5rem;
}

.heading__caption {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 3rem;
}

.heading__div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.heading__text {
    font-weight: 600;
    font-size: 2.25rem;
}

.heading__button {
    padding: .75rem 1.25rem;
    background-color: var(--third-color);
    color: var(--second-color);
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 500ms;
    box-sizing: border-box;
    border: 3px solid var(--third-color);
}

.heading__button:hover {
    transform: scale(1.05);
}

.heading__button:disabled {
    background-color: var(--second-color);
    border-color: var(--third-color);
    color: var(--third-color);
    cursor: not-allowed;
}

@media screen and (max-width: 768px) {
    .heading {
        background-image: none;
    }
    .heading__title {
        font-size: 3.25rem;
    }
    .heading__caption {
        font-size: 2.25rem;
    }
}
