.projects {
    width: var(--standard-width);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
}

.projects__title {
    font-weight: 700;
    font-size: 2.5rem;
}

.projects__list {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: wrap;
    width: 100%;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--second-color);
    color: var(--first-color);
    padding: 1.25rem;
    border-radius: .75rem;
    width: 450px;
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgba(100, 100, 100, 0.7);
}

.project__title {
    font-size: 2rem;
    font-weight: 600;
}

.project__image {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.project__desc {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.project__div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.project__link {
    background-color: var(--third-color);
    color: var(--second-color);
    padding: .5rem 1rem;
    display: inline-block;
    border-radius: .5rem;
    font-size: 1.25rem;
    border: 2px solid var(--third-color);
    transition: 500ms all;
}

.project__link:hover {
    color: var(--third-color);
    background-color: var(--second-color);
    border-color: var(--third-color);
}

.project__area {
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
}

@media screen and (max-width: 768px) {
    .project__area, .project__link {
        font-size: 1rem;
    }
}

.project__area--front-end {
    background-color: blue;
    color: white;
}

.project__area--datascience {
    background-color: green;
    color: white;
}

.project__area--mobile {
    background-color: yellow;
    color: black;
}

.project__area--back-end {
    background-color: darkorange;
    color: white;
}
